/* INÍCIO DAS CONFIGURAÇÕES GERIAS DA PÁGINA */
#corpo-pagina-geral{
    background: #FFF;
    margin: 0 auto;
    width: 100%;
}

#corpo-conteudo{
    background: #FFF;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

/* FIM DAS CONFIGURAÇÕES GERIAS DA PÁGINA */